/bin/

# =========================
# Eclipse setting
# =========================
.settings/com.github.jknack.antlr4ide.Antlr4.prefs

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*
/target/
