# =========================
# Eseguibili
# =========================
bin/

# =========================
# Eclipse setting
# =========================
.settings/

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*
target/
