/FOOLBaseVisitor.java
/FOOLVisitor.java
/SVM.tokens
/SVMBaseVisitor.java
/SVMLexer.java
/SVMLexer.tokens
/SVMParser.java
/SVMVisitor.java
/FOOL.tokens
/FOOLLexer.java
/FOOLLexer.tokens
/FOOLParser.java
/FOOLBaseListener.java
/FOOLListener.java
/SVMBaseListener.java
/SVMListener.java
